@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model project

<form asp-action="Add" asp-controller="ProjectHelper" method="post">

    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />

    <label asp-for="Location"></label>
    <input asp-for="Location" class="form-control" />

  

    <label asp-for="DepartmentId"></label>
    <select asp-for="DepartmentId" asp-items="ViewBag.departments" class="form-control">
        <option value="">Choose One</option>
    </select>

    <input type="submit" value="Add" />
</form>